body {
    margin: 0%;
    padding: 0px;
    font-family: ProximaNovaMedium, Arial, Sans-Serif;
    ;
}
#top_bar{
text-align: center;
border: 1px solid rgb(247,244,242);
background-color: rgb(247,244,242);
height: 70px;
font-weight: bold;
font-size: larger;
}
#logo{
    width: 100%;
    height: 250%;
    
}

#mainnav {
    height: 120px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    border: px solid black;
}

#navbar {
    margin: auto;
    width: 98%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border: px solid black;
    margin-top: 7px;
}

a {
    text-decoration: none;
    color: black;
    margin: auto;
}

#navsp>img {
    width: 15px;
    height: 15px;
    align-items: center;
}

#navsp>a>img {
    width: 15px;
    height: 15px;
    align-items: center;
}

#navbarend {
    width: 250px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border: px solid black;
    margin-top: 7px;
}

#navbarend>div {
    align-items: center;
    border: px solid black;
}

#navbarend>div>a {
    text-decoration: none;
    color: black;
    align-items: center;

}

#navbarsecond {
    display: flex;
    width: 70%;
    margin: auto;
    text-decoration: none;
    border: px solid black;
    margin-top: 50px;
    text-align: center;
    
}

#navbarsecond>a {
    text-decoration: none;
    color: black;
    margin: auto;
}
hr{
    margin-top: 30px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    padding: 102px 106px;
    z-index: 1;
    font-size: 25px;
    line-height:60px;
    

    
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.skin{
    margin-right: 10px;
}
#hair{
    margin-left: 17px;
}
.dropdown-content>a{
    margin-top: 10px;
    margin-bottom: 10px;
}
.anchor{
    margin-bottom: 10px;
}

 #footer {
    display: flex;
    font-size: large;
    margin-top: 150px;
    /* border: 1px solid black; */

}

#onef {
    width: 20%;
    margin-left: 20px;
    /* border: 1px solid black; */
}

#onef>div {
    margin-top: 12px;
    gap: 20px;
    
}

#onef>div>a {
    text-decoration: none;
    color: black;



}

#secf>div {
    margin-top: 12px;
    gap: 20px;
}

#secf {
    width: 20%;
    margin-left: 20px;
    /* border: 1px solid black; */
}

#secf>div>a {
    text-decoration: none;
    color: black;



}

#thrf {
    width: 60%;
    
}

#fimg>img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

#lastbar>a {
    text-decoration: none;
    color: black;
    margin-left: 10px;

} 